<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="guzellikmerkezison.Properties.Settings.guzellikmerkeziConnectionString2"
            connectionString="Data Source=laptop-njbl7fsc;Initial Catalog=guzellikmerkezi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>